.a,.news{color:blue;font-size: 10px;cursor: pointer;}
p{color:rgb(175, 202, 76);font-size: 20px;}
#menu{color:blueviolet;font-family: 'Courier New', Courier, monospace;}
a:hover{text-decoration: overline;}
news:hover{text-decoration: overline;}
ul,li{list-style-type: none;}